body{
	background-color: grey;
}

header{
	border: 5px black solid;
	text-align: center;

}
div{
	padding: 10px 10px 50px 10px;
}
div:hover{
	color: ghostwhite;
}
div article{
	background-color: skyblue;
	width: 100%;
	display: inline-block;
	float: right;

}
.menu{
	text-align: center;
	border: solid 1px black;
	border-radius: 3px;
	margin: 0 7px;
	padding: 7px 5px;
	width: 15%;
}

.informacion{
	background-color: honeydew;

}

footer{
	background-color: blanchedalmond;
	padding-top: 10px;
	padding-bottom: 10px;
	color: darkred;
}

footer section{
	float: right;
	padding-right: 10px;
}

footer p{
	margin: 0;
	padding-left: 10px;
}

footer a{
	color: darkred;
	text-decoration: none;
}